@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* Base Styles */

:root {
  --dark-clr: #181818;
  --white-clr: #E9F5F7;
  --grey-clr: #666666;
  --green-clr: #C1EA00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--white-clr);
  max-width: 100%;
  overflow-x: hidden;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

hr {
  height: 100px;
  width: 2px;
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  color: var(--grey-clr);
  border-color: var(--grey-clr);
}

/* Utilities */

#header {
  background: var(--dark-clr);
  height: 100%;
  color: var(--white-clr);
  position: relative;
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 1rem;
  height: 10vh;
}

#header nav img {
  width: 150px;
}

#header nav p {
  font-size: 0.7rem;
  color: var(--grey-clr);
}

#header nav .nav-logo {
  display: flex;
  align-items: flex-end;
}

.header-content {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: auto;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.intro h2 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: var(--grey-clr);
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}

.title {
  width: 80%;
  line-height: 1.6;
  position: relative;
}

.social i {
  display: block;
  color: var(--grey-clr);
  font-size: 1.2rem;
  padding-bottom: 2.5rem;
  transition: all ease 0.5s;
}

.social i:hover {
  color: var(--green-clr);
  transform: scale(1.2);

}

#cta {
 position: absolute;
 bottom: 0;
 right: 0;
 padding: 2.5rem;
 background: var(--white-clr);
 border-radius: 50%;
 color: var(--grey-clr);
 font-size: 2rem;
 margin-bottom: 20px;
 transition: all ease 0.6s;
}

#cta:hover {
  background: var(--green-clr);
  transform: scale(1.1);
}

/* Projects */

.projects {
  background: var(--dark-clr);
  padding: 4rem 2.2rem;
  position: relative;
}

.projects hr {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10%;
  margin-top: 5rem;
}


.projects-container {
  width: 100%;
  display: flex;
}

.project-content img {
  border-radius: 5px;
}

.project-content h2 {
  letter-spacing: 3px;
}

.project-1 {
  justify-content: flex-start;
}

.project-2 {
  justify-content: flex-end;
  margin-top: -300px;
}

.item {
  display: flex;
  width: 48%;
  transition: all ease 0.8s;
}

.item:hover {
  transform: scale(1.1);
  color: var(--green-clr);
}


.project-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 4px;
  font-weight: 200;
  padding: 0 .5rem;
}

/* Pricing */

#pricing {
  height: 100%;
  padding: 2rem 0;
  background: var(--dark-clr);
  display: flex;
  position: relative;
}

#pricing > p {
  text-align: center;
  color: var(--light-color);
}

#pricing .pricing-wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pricing-wrapper hr {
  position: absolute;
  top: -200px;
  left: 0;
}

#pricing .pricing-title {
  color: var(--white-clr);
  position: absolute;
  top: 0;
  right: -50px;
  letter-spacing: 3px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}


/* Card */

.pricing-wrapper .card {
  color: var(--white-clr);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 1px rgb(0,0,0,0.4);
  transition: ease all 0.5s;
  z-index: 0;
  border: solid 1px var(--white-clr);
}

.pricing-wrapper .card:hover {
  transform: scale(1.050);
}

.pricing-wrapper .card h5 {
  text-align: center;
  font-size: 1.2rem;
}

.pricing-wrapper .card h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.pricing-wrapper .card ul {
  list-style: none;
}

.pricing-wrapper .card ul li {
  padding: 1rem 0rem;
  letter-spacing: 1.2px;
  width: 80%;
  margin: auto;
}

.pricing-wrapper .card-primary {
  padding: 3rem 1rem;
  z-index: 1;
  background: var(--white-clr);
  color: var(--dark-clr);
}

.pricing-wrapper .card-primary .btn {
  border: 2px var(--dark-clr) solid;
  color: var(--dark-clr);
}

.pricing-wrapper .card ul li:last-child {
  border-bottom: none;
}

.pricing-wrapper .btn {
  padding: 0.5rem 1rem;
  background: transparent;
  border: var(--white-clr) 2px solid;
  color: var(--white-clr);
  letter-spacing: 2px;
  font-size: 0.9rem;
  cursor: pointer;
}

/* Contact */

#contact {
  background:var(--dark-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

/* Contact Form */

.contact-container {
  width: 80%;
  margin: auto;
  position: relative;
}

.contact-container h2 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 3px;
}

.contact-wrapper {
  max-width: 60%;
  margin: auto;
}

.contact-item label {
  font-size: 1.5rem;
}

.contact-item input{
  display: block;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white-clr);
  width: 100%;
  margin: 15px 0;
  padding: 0.5rem 0;
  color: var(--white-clr);
}

.contact-item .message {
  padding: 3rem 0;
}

input:focus {
  outline: none;
  background: none;
  color: var(--white-clr);
  border-bottom: var(--green-clr) 1px solid;

}


.contact-wrapper .btn {
  padding: .5rem 2rem;
  border: solid 2px var(--white-clr);
  color: var(--white-clr);
  background: transparent;
  cursor: pointer;
}

#contact hr {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Footer */

#footer {
  background: var(--white-clr);
  color: var(--dark-clr);
  padding-top: 3rem;
}

.footer-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  position: relative;
}

.footer-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container .logo {
  align-self: center;
}

.social-icons {
  display: flex;
}

.footer-container .logo {
  align-items: flex-end;
}

.footer-container .logo img {
  background: var(--dark-clr);
  border-radius: 5px;
  width: 200px;
}

.footer-container .logo .social-icons {
  padding: 1rem;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.footer-container .logo i {
  display: inline;
  font-size: 1.5rem;
  transition: all ease 0.8s;
}

.footer-container .logo i:hover {
  color: var(--green-clr);
  transform: scale(1.5);
}

.footer-container h3 {
  margin-bottom: 30px;
  font-size: 1rem;
  letter-spacing: 2px;
}

.footer-container a,
.footer-container p {
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.trademark {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5px;
}